<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SocketIO Test</title>
    <script src="static/socket.io.js"></script>
</head>

<body>
    <h1>SocketIO Test</h1>
    <h3>Message Recieved: <code id='msg'></code></h3>
    <script type="text/javascript" charset="utf-8">
        var socket = io('/api/socket.io');

        socket.on('connect', () => {
            console.log(`SocketIO: Connected! (${socket.id})`);
            socket.emit('message', 'Connected');
        }).emit(
            'get_graph_data', 'AAPL'
        ).on('graph_data', (data) => {
            document.getElementById('msg').innerHTML = JSON.stringify(data);
        });

        socket.on('diconnect', () => {
            socket.emit('disconnect');
            console.log('SocketIO: Disconnected!');
        });
    </script>
</body>

</html>
